<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<script src="/public/js/script.js"></script>
<div class="d-flex align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Enter city name">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary"
                            onclick="searchListings()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-4 d-none d-sm-block">
                <div class="card shadow-lg">
                    <div class="card-body map-container">
                        <div id="myMap"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card shadow-lg">
                    <div class="card-body listings-container">
                        <div class="d-flex flex-column">
                            <% locals.listings.forEach(listing=> { %>
                                <div id="<%- listing.listing_id %>" class="card p-2 mb-3"
                                    style="width: 100%;">
                                    <img class="card-img-top"
                                        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <h5 class="card-title">
                                                    <%- listing.address_line1 %>
                                                </h5>
                                            </div>
                                            <div class="col-3">
                                                <h5 class="card-title text-right">$<%- listing.price %>
                                                </h5>
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            <%- listing.description %>
                                        </p>
                                        <a href="/listing/<%- listing.listing_id %>"
                                            class="btn btn-primary">Apply</a>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = getMap();
</script>
<%- include ('../partials/footer') %>