<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/message') %>
            <div class="d-flex align-items-center" style="height: 100vh;">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" id="search-input" class="form-control" placeholder="Enter city name">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary"
                                        onclick="searchListings()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-4 d-none d-sm-block">
                            <div class="card shadow-lg">
                                <div id="map" class="card-body map-container">
                                    <style>
                                        /* The switch - the box around the slider */
                                        #load {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 100%;
                                            height: 100%;
                                            position: fixed;
                                            z-index: 9999;
                                            background: url("img/load.gif") no-repeat center center rgba(0, 0, 0, 0);
                                        }

                                        /* #map {
                                            position: relative;
                                            left: 43.6vh;
                                            bottom: -34vh;
                                            transform: translate(-50%, -50%);
                                        } */

                                        .switch {
                                            position: relative;
                                            display: inline-block;
                                            width: 60px;
                                            height: 34px;
                                        }

                                        /* Hide default HTML checkbox */
                                        .switch input {
                                            opacity: 0;
                                            width: 0;
                                            height: 0;
                                        }

                                        /* The slider */
                                        .slider {
                                            position: absolute;
                                            cursor: pointer;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            background-color: #ccc;
                                            -webkit-transition: .4s;
                                            transition: .4s;
                                        }

                                        .slider:before {
                                            position: absolute;
                                            content: "";
                                            height: 26px;
                                            width: 26px;
                                            left: 4px;
                                            bottom: 4px;
                                            background-color: white;
                                            -webkit-transition: .4s;
                                            transition: .4s;
                                        }

                                        input:checked+.slider {
                                            background-color: #d84311;
                                        }

                                        input:focus+.slider {
                                            box-shadow: 0 0 1px #e21710;
                                        }

                                        input:checked+.slider:before {
                                            -webkit-transform: translateX(26px);
                                            -ms-transform: translateX(26px);
                                            transform: translateX(26px);
                                        }

                                        /* Rounded sliders */
                                        .slider.round {
                                            border-radius: 34px;
                                        }

                                        .slider.round:before {
                                            border-radius: 50%;
                                        }
                                    </style>
                                    <script type='text/javascript'>
                                        var map;
                                        var searchManager;
                                        var locName;

                                        function GetMap() {
                                            if (!navigator.geolocation) {
                                                console.error("Geolocation not supported");
                                                return;
                                            }

                                            var latitude;
                                            var longitude;
                                            navigator.geolocation.getCurrentPosition((position) => {
                                                console.log("position: ", position);
                                                latitude = position.coords.latitude;
                                                longitude = position.coords.longitude;

                                                map = new Microsoft.Maps.Map('#myMap', {
                                                    credentials: 'AljStGYPC2c0wdx-bBLB6DEKMphxfnbKeD98nf5NMJT7g_EFDUBTjzBxVN4-kqvX',
                                                    center: new Microsoft.Maps.Location(latitude, longitude),
                                                    zoom: 11
                                                });

                                                var center = map.getCenter();

                                                reverseGeocode();
                                                console.log("locName: ", locName);
                                            }, () => {
                                                console.error("Failed to get location.");
                                            });

                                        }

                                        function reverseGeocode() {
                                            //If search manager is not defined, load the search module.
                                            if (!searchManager) {
                                                //Create an instance of the search manager and call the reverseGeocode function again.
                                                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                                                    searchManager = new Microsoft.Maps.Search.SearchManager(map);
                                                    reverseGeocode();
                                                });
                                            } else {
                                                let center = map.getCenter();
                                                var searchRequest = {
                                                    location: center,
                                                    callback: function (r) {
                                                        locName = r.name;
                                                        var pin = new Microsoft.Maps.Pushpin(center, {
                                                            title: locName,
                                                            color: 'red'
                                                        });

                                                        map.entities.push(pin);
                                                    },
                                                    errorCallback: function (e) {
                                                        //If there is an error, alert the user about it.
                                                        alert("Unable to reverse geocode location.");
                                                    }
                                                };
                                                //Make the reverse geocode request.
                                                searchManager.reverseGeocode(searchRequest);
                                                console.log("locName: ", locName);
                                            }
                                        }
                                        document.onreadystatechange = function () {
                                            var state = document.readyState
                                            if (state == 'interactive') {
                                                document.getElementById('contents').style.visibility = "hidden";
                                            } else if (state == 'complete') {
                                                setTimeout(function () {
                                                    document.getElementById('interactive');
                                                    document.getElementById('load').style.visibility = "hidden";
                                                    document.getElementById('contents').style.visibility = "visible";
                                                }, 2700);
                                            }
                                        }
                                    </script>
                                    <script type='text/javascript'
                                        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async
                                        defer></script>
                                    </head>

                                    <body>
                                        <div id="load"><img src="/img/logo.png"
                                                style="width:13%;height:10%;position:absolute;left:625px;top:50px"><br><br><br><br><br><br>
                                            <p align="center">Loading map</p>
                                        </div>

                                        <div style="position:absolute;" id="myMap"
                                            style="position:relative;width:600px;height:400px;"></div>
                                    </body>

                                    </html>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="card shadow-lg">
                                <div class="card-body listings-container">
                                    <div class="d-flex flex-column">
                                        <% locals.listings.forEach(listing=> { %>
                                            <div id="<%- listing.listing_id %>" class="card p-2 mb-3"
                                                style="width: 100%;">
                                                <img class="card-img-top"
                                                    src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                                                    alt="Card image cap">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <h5 class="card-title"><%- listing.address_line1 %></h5>
                                                        </div>
                                                        <div class="col-3">
                                                            <h5 class="card-title text-right">$<%- listing.price %></h5>
                                                        </div>
                                                    </div>
                                                    <p class="card-text"> <%- listing.description %></p>
                                                    <a href="/listing/<%- listing.listing_id %>"
                                                        class="btn btn-primary">Apply</a>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                window.onload = initMap();
            </script>
            <%- include ('../partials/footer') %>