<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="d-flex justify-content-center mt-3">
        <h2><%- locals.neighborhood %></h2>
    </div>
    <div class="d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <div class="card mb-3 bg-light" style="width: 100%;">
                            <div class="card-body">
                                <form action="/feed" method="POST">
                                    <div class="form-floating">
                                        <textarea class="form-control mb-3" id="exampleFormControlTextarea1"
                                            rows="1" name="subject" required></textarea>
                                        <label for="exampleFormControlTextarea1">Subject</label>
                                    </div>
                                    <div class="form-floating">
                                        <textarea class="form-control mb-3" id="exampleFormControlTextarea2"
                                            rows="5" style="height: 10rem" name="description" required></textarea>
                                        <label for="exampleFormControlTextarea1">Description</label>
                                    </div>
                                    <div class="d-flex">
                                        <button type="submit" class="btn btn-primary mr-3">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% locals.posts.forEach(post=> { %>
                            <div class="card mb-3 bg-light" style="width: 100%;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text text-secondary">
                                                <%- post.username %>
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text text-secondary text-right">Posted
                                                <% switch(true){ case Math.floor(Date.now()/3600000 - (new
                                                    Date(post.datetime).getTime()/3600000))>= 24: %>
                                                    <%- Math.floor(Date.now()/86400000 - (new
                                                        Date(post.datetime).getTime()/86400000)) + ' days' %>
                                                        <%; break; case Math.floor(Date.now()/60000 - (new
                                                            Date(post.datetime).getTime()/60000))>= 60: %>
                                                            <%- Math.floor(Date.now()/3600000 - (new
                                                                Date(post.datetime).getTime()/3600000))
                                                                + ' hours' %>
                                                                <%; break; case Math.floor(Date.now()/1000 -
                                                                    (new Date(post.datetime).getTime()/1000))>=
                                                                    60: %>
                                                                    <%- Math.floor(Date.now()/60000 - (new
                                                                        Date(post.datetime).getTime()/60000))
                                                                        + ' minutes' %>
                                                                        <%; break; default:%>
                                                                            <%- Math.floor(Date.now()/1000 -
                                                                                (new
                                                                                Date(post.datetime).getTime()/1000))
                                                                                + ' seconds' %>
                                                                                <%; break; } %> ago
                                            </p>
                                        </div>
                                    </div>
                                    <h5 class="card-title">
                                        <%- post.subject %>
                                    </h5>
                                    <p class="card-text">
                                        <%- post.description %>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="btn-group">
                                            <form action="/upvote?p=<%- post.post_id%>&v=<%- post.votes%>" method="POST">
                                                <button type="submit" class="btn">
                                                    <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-up"></i></a>
                                                </button>
                                            </form>
                                            <p class="card-text text-secondary">
                                                <%- post.votes %>
                                            </p>
                                            <form action="/downvote?p=<%- post.post_id%>&v=<%- post.votes%>" method="POST">
                                                <button type="submit" class="btn">
                                                    <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-down"></i></a>
                                                </button>
                                            </form>
                                            <a class="nav-link openBtn" data-url="/feed/p/<%- post.post_id %>"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">View all
                                                comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
    <script src="/public/js/script.js"></script>
    <%- include ('../partials/footer') %>