<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/message') %>
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <script src="/public/js/script.js"></script>
            <div class="d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="d-flex flex-column">
                                <div class="card mb-3 mt-3" style="width: 100%;">
                                    <div class="card-body">
                                        <form action="/feed" method="POST">
                                            <div class="form-floating">
                                                <textarea class="form-control mb-3" id="exampleFormControlTextarea1"
                                                    rows="1" name="subject"></textarea>
                                                <label for="exampleFormControlTextarea1">Subject</label>
                                            </div>
                                            <div class="form-floating">
                                                <textarea class="form-control mb-3" id="exampleFormControlTextarea2"
                                                    rows="5" style="height: 10rem" name="description"></textarea>
                                                <label for="exampleFormControlTextarea1">Description</label>
                                            </div>
                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary mr-3">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <% locals.posts.forEach(post=> { %>
                                    <div class="card mb-3" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <p class="card-text text-secondary">
                                                        <%- post.username %>
                                                    </p>
                                                </div>
                                                <div class="col">
                                                    <p class="card-text text-secondary text-right">Posted
                                                        <% switch(true){ case Math.floor(Date.now()/3600000 - (new
                                                            Date(post.datetime).getTime()/3600000))>= 24: %>
                                                            <%- Math.floor(Date.now()/86400000 - (new
                                                                Date(post.datetime).getTime()/86400000)) + ' days' %>
                                                                <%; break; case Math.floor(Date.now()/60000 - (new
                                                                    Date(post.datetime).getTime()/60000))>= 60: %>
                                                                    <%- Math.floor(Date.now()/3600000 - (new
                                                                        Date(post.datetime).getTime()/3600000))
                                                                        + ' hours' %>
                                                                        <%; break; case Math.floor(Date.now()/1000 -
                                                                            (new Date(post.datetime).getTime()/1000))>=
                                                                            60: %>
                                                                            <%- Math.floor(Date.now()/60000 - (new
                                                                                Date(post.datetime).getTime()/60000))
                                                                                + ' minutes' %>
                                                                                <%; break; default:%>
                                                                                    <%- Math.floor(Date.now()/1000 -
                                                                                        (new
                                                                                        Date(post.datetime).getTime()/1000))
                                                                                        + ' seconds' %>
                                                                                        <%; break; } %> ago
                                                    </p>
                                                </div>
                                            </div>
                                            <h5 class="card-title">
                                                <%- post.subject %>
                                            </h5>
                                            <p class="card-text">
                                                <%- post.description %>
                                            </p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="pad-ver">
                                                    <div class="btn-group">
                                                        <form action="/upvote?p=<%- post.post_id%>&v=<%- post.votes%>" method="POST">
                                                            <button type="submit" class="btn">
                                                                <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-up"></i></a>
                                                            </button>
                                                        </form>
                                                        <p class="card-text text-secondary">
                                                            <%- post.votes %>
                                                        </p>
                                                        <form action="/downvote?p=<%- post.post_id%>&v=<%- post.votes%>" method="POST">
                                                            <button type="submit" class="btn">
                                                                <a class="btn btn-sm btn-default btn-hover-success"><i class="fa fa-thumbs-down"></i></a>
                                                            </button>
                                                        </form>
                                                        <button class="btn" onclick="loadReplies(&#39;reply-<%- post.post_id%>&#39;)">
                                                            <a class="btn btn-sm btn-default btn-hover-secondary">Comment</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="reply-<%- post.post_id %>" style="display:none;">
                                            <ul class="list-group list-group-flush replies">
                                                <li class="list-group-item">
                                                    <form action="/reply" method="POST">
                                                        <input type="hidden" id="post_id" name="post_id" value="<%- post.post_id %>" />
                                                        <div class="form-floating">
                                                            <textarea class="form-control mb-2 mr-2" id="exampleFormControlTextarea3"
                                                                rows="1" style="height: 10rem" name="reply"></textarea>
                                                            <label for="exampleFormControlTextarea1">Reply</label>
                                                        </div>
                                                        <div class="d-flex">
                                                            <button type="submit" class="btn btn-primary mb-2">Reply</button>
                                                        </div>
                                                    </form>
                                                    <div>
                                                    <% if (post.subject != 'Error') { %>
                                                        <% post_to_replies.forEach(idx=> { %>
                                                            <% if (idx.post_id == post.post_id) { %>
                                                                <% replies.forEach(reply=> { %>
                                                                    <% if (idx.reply_id == reply.reply_id ) { %>
                                                                        <div class="card mb-3" style="width: 100%;">
                                                                            <div class="card-body">
                                                                                <div class="row">
                                                                                    <strong><%- reply.username %></strong>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="card-body">
                                                                                        <%- reply.reply_value %>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                <% }) %>
                                                            <% } %>
                                                        <% }) %>
                                                    <% } %>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include ('../partials/footer') %>