<%- include('../partials/head') %>
<%- include('../partials/menu') %>
<div class="d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-12 d-flex justify-content-center align-content-center">
                <img class="m-3"
                    src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                    style="border-radius: 50%;width:10rem;height:10rem;" />
                <div class="d-flex justify-content-center flex-column mr-3">
                    <h2>
                        <%- first_name %>
                            <%= last_name %>
                    </h2>
                    <h5 class="text-secondary">@<%- username %>
                    </h5>
                    <h5 class="text-secondary">
                        <%- phone_number %> | <%- email %>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-12">
                <div class="d-flex justify-content-between">
                    <h1 class="mb-4">Address</h1>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addressModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                </div>
                <% if(!propertyId){ %>
                    <p class="text-secondary">No Address Found</p>
                    <% }else{ %>
                        <h3 class="text-secondary">
                            <%- address_line1 %> <br>
                                <%- city %>, <%- state %>
                                        <%- zipcode %>
                        </h3>
                        <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- TODO: add a hobbies button and allow user to add hobbies to their profile -->
                <form action="/addInterests" method="POST">
                    <select name="education" aria-label="Select Education" class="form-select">
                        <option selected>Select Education</option>
                        <option value="1">High School</option>
                        <option value="2">Undergraduate</option>
                    </select>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id='searchBoxContainer'>
                    <input class="form-control" placeholder="Search for Address" type='text' id='searchBox' />
                </div>
                <div id="hiddenMap" style="display:none;"></div>
            </div>
            <div class="m-3" id="showAddress" style="display:none;">
                <h3 id="tempAddress" class="text-secondary"></h3>
                <button class="btn btn-primary" onclick="changeAddress(<%- propertyId %>)">Change Address</button>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/script.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AljStGYPC2c0wdx-bBLB6DEKMphxfnbKeD98nf5NMJT7g_EFDUBTjzBxVN4-kqvX&callback=loadMapScenario' async defer></script>
<script>
    window.onload = loadMapScenario();
</script>
<%- include('../partials/footer') %>