<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<main>

    <div class = "container">
        <h1>My Profile: <%= username %></h1>
        <div class="col"><%- include ('../partials/message') %></div>
        <table style="font-size: 18px; margin: auto;">
            <tr>
                <td style="padding-right: 10px;">Username:</td>
                <td><%= username %></td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">Email:</td>
                <td><%= email %></td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">Phone Number:</td>
                <td><%= phone_number %></td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">Gender:</td>
                <td><%= gender %></td>
            </tr>
            <tr>
                <td style="padding-right: 10px;">Birthday:</td>
                <td><%= birthdate %></td>
            </tr>
        </table>

    </div>

</main>
<%- include ('../partials/footer') %>