<%- include('../partials/head') %>
<%- include('../partials/menu') %>
<div class="d-flex align-items-center mb-5 mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-12 d-flex justify-content-center align-content-center">
                <img class="m-3"
                    src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                    style="border-radius: 50%;width:10rem;height:10rem;" />
                <div class="d-flex justify-content-center flex-column mr-3">
                    <h2>
                        <%- first_name %>
                            <%= last_name %>
                    </h2>
                    <h5 class="text-secondary">@<%- username %>
                    </h5>
                    <h5 class="text-secondary">
                        <%- phone_number %> | <%- email %>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-lg-8 col-md-9 col-sm-12">
                <h2>Your Address</h2>
                <hr/>
                <form action="/change_address" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address_line1" name="address_line1" value="<%- address_line1 %>" required>
                        <label for="address_line1">Address Line 1</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address_line1" name="address_line2" value="<%- address_line2 %>">
                        <label for="address_line2">Address Line 2</label>
                    </div>
                    <div class="row mb-3">
                        <div class="form-floating col-5">
                            <input type="text" class="form-control" id="address_line1" name="city" value="<%- city %>">
                            <label for="address_line2">City</label>
                        </div>
                        <div class="form-floating col-3">
                            <select class="form-control" name="state">
                                <option value="<%- state %>"><%- state %></option>
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                            <label for="state">State</label>
                        </div>
                        <div class="form-floating col-4">
                            <input type="text" class="form-control" id="address_line1" name="zipcode" value="<%- zipcode %>">
                            <label for="zipcode">Postal Code</label>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary mr-3">Change Address</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-12">
                <h2>Personal Info</h2>
                <hr/>
                <form action="/add_interests" method="POST">
                    <h3>Hobbies</h3>
                    <div class="d-flex flex-wrap">
                        <% hobbies.forEach(hobby => { %>
                            <div class="m-1">
                                <input type="checkbox" class="btn-check" id="<%- hobby.hobby %>" name="<%- hobby.hobby %>" autocomplete='off' value="" <%- interests.includes(hobby.hobby) ? 'checked' : '' %>>
                                <label class="btn btn-light" for="<%- hobby.hobby %>"><%- hobby.hobby %></label>
                            </div>
                        <% }); %>
                    </div>
                    <hr/>
                    <h3>TV Shows</h3>
                    <div class="d-flex flex-wrap">
                        <% tv_shows.forEach(show => { %>
                            <div class="m-1">
                                <input type="checkbox" class="btn-check" id="<%- show.show %>" name="<%- show.show %>" autocomplete="off" value="" <%- interests.includes(show.show) ? 'checked' : '' %>>
                                <label class="btn btn-light" for="<%- show.show %>"><%- show.show %></label>
                            </div>
                        <% }); %>
                    </div>
                    <hr/>
                    <h3>Movies</h3>
                    <div class="d-flex flex-wrap">
                        <% movies.forEach(movie => { %>
                            <div class="m-1">
                                <input type="checkbox" class="btn-check" id="<%- movie.movie %>" name="<%- movie.movie %>" autocomplete="off" value="" <%- interests.includes(movie.movie) ? 'checked' : '' %>>
                                <label class="btn btn-light" for="<%- movie.movie %>"><%- movie.movie %></label>
                            </div>
                        <% }); %>
                    </div>
                    <hr/>
                    <h3>Music Artists</h3>
                    <div class="d-flex flex-wrap">
                        <% artists.forEach(artist => { %>
                            <div class="m-1">
                                <input type="checkbox" class="btn-check" id="<%- artist.artist %>" name="<%- artist.artist %>" autocomplete="off" value="" <%- interests.includes(artist.artist) ? 'checked' : '' %>>
                                <label class="btn btn-light" for="<%- artist.artist %>"><%- artist.artist %></label>
                            </div>
                        <% }); %>
                    </div>
                    <hr/>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/script.js"></script>
<%- include('../partials/footer') %>
